*{
    font-size: 25px;
    font-weight: bold;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0px;
}
h1 {
    font-size: 40px;
    color: white;
}
p {
    color: white;
}
.hidden {
    display: none;
}
.backgroundToggle {
    color: aqua;
    height: 200px;
    width: 400px;
}
header{
    background: rgba(125, 61, 189, 0.342);
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 0.5s;
}
header:hover {
    background: rgb(125, 61, 189);
}
.logo img {
    height: 100px;
    width: 100px;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
.nav li {
    margin: 5%;
    list-style: none;        
}
.nav li a {
    text-decoration: none;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
}
.nav li a:hover {
    color:black;
}
.presentaion {
    background-image: url(./images/page-17-423-pexelsphoto90807web.jpg);
    background-size: cover;
    background-repeat: none;
    top: 0px;
    width: 100%;
}
.presentaion article {
    background-color: rgba(41, 41, 107, 0.349);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fondoInfoKathe {
    clip-path: polygon(0% -484px, 100% 55%, 195% -175%, 0px 297%);
    padding: 1% 30% 1% 35%;
    box-shadow: -254px 19px 40px 20px rgb(0 0 0 / 75%);
    background: linear-gradient(to right, rgb(36, 7, 65) , rgb(106, 37, 175));
    width: 100%;
    margin-left: -57%;
}
.fade-in-scroll{
    animation: fadeInScroll 2s;
}
@keyframes fadeInScroll {
    from {
        position: relative;
        transform: translateX(-100%);
        opacity: 0.5;
        transition: all 0.2s linear;
    }
    top {
        opacity: 1;
        transform: translateX(0%);
    }
}
.fadeIn {
    position: relative;
    opacity: 0;
    transition: all 1s ease;
}
.fadeIn.active {
    opacity: 1;
}
.reveal{
    position: relative;
    opacity: 0;
    transform: translateY(150px);
    transition: all 2s ease;
}
.reveal.active{
    opacity: 1;
    transform: translateY(0px);
}
.miPresentaion {
    width: 40%;
    margin: 15% 0% 10% 20%;
}
.katheFrondEnd p {
    color: gainsboro;
}
.fondoInfoKathe p {
    font-weight: 100;
}
.kathe {
    font-family: 'Radio Canada', sans-serif;
    font-size: 30px;
}
.fotoK {
    width: 50%;
}
.fotoK img {
    max-width: 100%;
    max-height: 100%;
    margin: 10%;
    height: 350px;
    border-radius: 300px;
}
.aboutMe {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0% 5%;
}
.aboutMe p{
    color: rgb(46, 44, 44);
    font-weight: 500;
    text-align: justify;
}
.boxesabout {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.skils{
    width: 100%;
    margin-bottom: 7%;
    color: black;
    font-weight: bold;
}
.boxesA {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1%;
    border-radius: 350px;
    transition: all 0.5s;
}
.centerbox {
    width: 100%;
}
.boxesA:hover {
    background-color: antiquewhite;
}
.boxesA img {
    height: 5rem;
    width: 5rem;
}
.infoPersonal {
    width: 50%;
}
.infoPersonal h2 {
    font-family: 'Radio Canada', sans-serif;
    color: rgb(46, 44, 44);
    font-size: 40px;
}
.containerbtn {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.btn-descarga{
    display: block;
    width: 400px;
    padding: 15px;
    border-radius: 50px;
    text-decoration: none;
    color: black;
    text-align: center;
    background: rgb(125, 61, 189);
    transition: all 0.3s;
}
.btn-descarga:hover {
    color: white;
}
#education {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.tittleeducation h1 {
    font-family: 'Radio Canada', sans-serif;
    color: black
}
.tittleeducation p{
    color: rgb(46, 44, 44);
}
.cardsEducation {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
}
.cardsEdu {
    width: 400px;
    height: 400px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    margin: 5%;
    border-radius: 50px;
    transition: all 0.5s ease-in-out;
}
.cardsEdu:hover {
    box-shadow: 0px 30px 60px 8px rgb(0 0 0 / 35%);
}
.boxesA:hover {
    background-color: antiquewhite;
}
.temasedu {
    display: flex;
    flex-direction: column;
    height: 50%;
    margin: 0 5%;
    justify-content: space-evenly;
}
.partsOf-PI {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.partsOf-PI h1 {
    margin: 0;
}
.temasedu h1{
    color: rgb(46, 44, 44);
    font-size: 24px;
}
.temasedu ul{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90%;
}
.temasedu li{
    list-style-type: disc;
    color: rgb(46, 44, 44);
    font-size: 20px;
    font-weight: 400;
    text-align: initial;
}
.cardsEdu img {
    margin-top: 10px;
    height: 35%;
    width: 90%;
}
.cardsEdu .eduit {
    margin-top: 30px;
    height: 15%;
    width: 90%;
}
.cardsEdu .freecode {
    margin-top: 50px;
    height: 20%;
    width: 90%;
}
.certificationbtn {
    width: 100%;
    height: 20%;
    align-items: baseline;
    cursor: pointer;
    background-color: rgba(125, 61, 189, 0.651);
    display: flex;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}
.certificationbtn:hover {
    background-color: rgba(125, 61, 189, 0.781);
    box-shadow: 3px 11px 20px 9px rgba(0, 0, 0, 0.979);
    margin-top: 2%;
}
.btn-certification {
    font-family: 'Fira Sans', sans-serif;
    text-decoration: none;
    padding-top: 6%;
    margin: 0;
    font-weight: 100;    
    color: rgb(49, 49, 49);
}
.btn-certification:hover {
    font-weight: bold;
}
.titleprojects h1{
    font-family: 'Bebas Neue', cursive;
    color:black;
}
.proyectosKaty {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 36%;
}
.proyectos {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.textoProyecto {
    background: rgba(38, 45, 148, 0.795);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 550px;
    margin: 0;
    opacity:0;
    transition: opacity 0.3s;
    overflow: hidden;
}
.textoProyecto:hover {
    opacity: 1;
}
.textoProyecto h1 {
    font-family: 'Radio Canada', sans-serif;
}
.textoProyecto p {
    font-family: 'Fira Sans', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 100;
}
.textoProyecto a {
    color: white;
}
.tamañoProyecto {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -10px;
    overflow: hidden;
    height: 550px;
}
.proyecto1 {
    background-image: url(./images/proyecto1.png);
}
.proyecto2 {
    background-image: url(./images/proyecto2.PNG);
}

.proyecto3 {
    background-image: url(./images/africansa.png);
}
.proyecto4y5 {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.proyectoJuego {
    background-image: url(./images/projectoJuego.PNG);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -10px;
    overflow: hidden;
    height: 550px;
    width: 50%;
}
.proyectoDibujo {
    background-image: url(./images/projectoDibujo.PNG);
    background-size: 128%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -10px;
    overflow: hidden;
    height: 550px;
    width: 50%;
}
.contacMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.textContact h1 {
    color: black;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
}
.boxContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 5%;
}
.container {
    width: 30%;
    margin: 1% 0%;
    display: flex;
    border-radius: 50px;
    padding: 7px;
    background: rgb(124, 65, 184);
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}
.textContainer a{
    color: wheat;
    text-decoration: none;
    transition: all 0.4s;
}
.textContainer a:hover {
    color: black;
}
@media only screen and (max-width: 1440px) {

}
@media only screen and (max-width: 1024px) {
    .fotoK img {
        margin: 0%;
    }
    .aboutMe {    
        width: 100%;
        margin: 0% 0%;
    }
    .container img {
        height: 30px;
        width: 30px;
    }
    .textContainer a {
        font-size: 20px;
    }
}
@media only screen and (max-width: 768px){
    h1{
        font-size: 25px;
    }
    *{
        text-align: center;
        font-size: 16px;
    }
    header {
        background: rgba(125, 61, 189, 0.342);
    }
    .nav {
        display: none;
    }
    .appear {
        display: flex;
    }
    .navResponsive {
        display: flex;
    }
    .navPhone {
        position: absolute;
        top: 100%;
        right: 0;
        margin: 0;
        background-color: rgba(80, 32, 128, 0.99);
        border-radius: 0px 0px 0px 100px;
        padding: 0%;
        flex-direction: column;
        justify-content: space-evenly;
        width: 45%;
    }
    .navPhone li {
        margin: 30%;
        list-style: none;
    }
    .navPhone li a {
        text-decoration: none;
        font-size: 24px;
        color: white;
    }
    .menu-icon img {
        position: absolute;
        height: 80px;
        border-radius: 24px;
        width: 80px;
        top: 7px;
        right: 25px;
    }
    .menu-scroll{
        animation: menuScroll 1s;
    }
    @keyframes menuScroll {
        from {
            position: relative;
            transform: translateX(100%);
            opacity: 0.5;
            transition: all 0.2s linear;
        }
        top {
            opacity: 1;
            transform: translateX(0%);
        }
    }
    .logo {
        margin-left: -20%;
    }
    .presentaion article{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .miPresentaion {
        display: flex;
        margin: 16% 0% 0% 0%;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .miPresentaion h1 {
        font-size: 100px;
        margin-bottom: 0px;
    }
    .miPresentaion .kathe{
        font-size: 60px;
        margin-bottom: 0px;
        font-weight: bold;
        color: white;
    }
    .miPresentaion p {
        color: aliceblue;
        font-size: 40px;
    }
    .fondoInfoKathe {
        box-shadow: -254px 19px 40px 20px rgba(0, 0, 0, 0);
        background: none;
        margin: 0;
        clip-path: none;
        padding: 0% 0% 0% 0%;
    }
    .fade-in-scroll{
        animation: fadeInScroll 0s;
    }
    @keyframes fadeInScroll {
        from {
            transform: translateX(0%);
            opacity: 1;
        }
        top {
            opacity: 1;
            transform: translateX(0%);
        }
    }
    .fotoK {
        width: 100%;
    }
    .aboutMe {
        flex-direction: column;
        width: 96%;
        margin: 0% 2%;
    }
    .aboutMe p {
        font-size: 20px;
        text-align: center;
    }
    .boxesabout {
        margin-left: -50px;
        width: 100%;
    }
    .skils{
        font-size: 30px;
        text-align: initial
    }
    .boxesA {
        width: 100px;
        height: 100px;
        background-color: antiquewhite;
        border-radius: 250px;
    }
    .infoPersonal {
        width: 90%;
    }
    .infoPersonal h1 {
        color: rgb(46, 44, 44);
        font-size: 40px;
    }
    .infoPersonal h2 {
        font-size: 30px;
    }
    .containerbtn {
        justify-content: center;
    }
    .btn-descarga{
        text-decoration: none;
        width: 236px;
        padding: 18px;
        font-size: 25px;
        color: white;
    }
    .tittleeducation {
        align-items: flex-start;
    }
    .tittleeducation h1 {
        font-size: 40px;
        margin-bottom: 0px;
    }
    .cardsEdu {
        box-shadow: 0px 15px 20px 9px rgba(0, 0, 0, 0.164);
    }
    .boxesSevices {
        width: 100%;
        padding: 0px;
        justify-content: center;
    }
    .titleprojects {
        color: black;
        font-size: 40px;
        background: bisque;
        width: 100%;
    }
    .titleprojects h1{
        font-size: 40px;
    }
    .tamañoProyecto {
        margin: 0px;
        height: 250px;
        background-size: 102%;
        background-position-y: 0px;
        background-position-x: -15px;
    }
    .textoProyecto {
        height: 100%;
    }
    .proyecto4y5 {
        height: 250px;
    }
    .proyectoJuego {
        height: 100%;
        background-size: 112%;
    }
    .proyectoDibujo {
        height: 100%;
        background-position-y: -33%;
        background-size: 112%;
    }
    .container {
        width: 42%;
        border-radius: 49px;
    }
    .container img {
        height: 30px;
        width: 30px;
    }
    .textContainer a {
        color:black;
        font-size: 15px;
    }
}
@media only screen and (max-width: 452px) {
    .logo img {
        height: 60px;
        width: 65px;
    }
    .menu-icon img {
        height: 60px;
        width: 60px;
        border-radius: 20px;
        top: 0;
    }
    .miPresentaion {
        margin: 5% 0% 0% 0%;
    }
    .miPresentaion h1 {
        font-size: 70px;
    }
    .miPresentaion .kathe {
        font-size: 35px;
        margin-top: 20%;
    }
    .miPresentaion p {
        font-size: 30px;
        color: aliceblue;
    }
    .fotoK img {
        height: 300px;
        margin-bottom: 5%;
    }
    .skils {
        margin: 0% 0% 10%;
    }
    .boxesabout {
        margin: 10px 0px 0px -32px;
    }
    .boxesabout li{
        margin: 0px 0px 0px -15px;
    }
    .boxesA p {
        display: none;
    }
    .boxesA {
        width: 90px;
    }
    .boxesA img {
        height: 4rem;
        width: 4rem;
    }
    .boxesEducation {
        justify-content: center;
        width: 100%;
        margin-left: -10%;
    }
    .btn-certification {
        font-size: 24px;
    }
    .freecode {
        height: 60px;
    }
    .tamañoProyecto {
        background-size: 100%;
        height: 200px;
        background-position-x: 0px;
    }
    .proyectoDibujo {
        height: 100%;
        overflow: hidden;
        background-size: 150%;
        background-position-y: -15px;
    }
    .proyectoJuego {
        height: 100%;
        overflow: hidden;
        background-size: 112%;
        background-position-y: -5px;
    }
    .textoProyecto {
        height: 250px;
    }
    .textoProyecto h1 {
        font-size: 20px;
    }
    .textoProyecto p {
        font-size: 14px;
    }
    .proyectoDibujo .textoProyecto {
        height: 200px;
    }
    .proyectoJuego .textoProyecto {
        height: 200px;
    }
    .proyecto4y5 {
        height: 200px;
    }
    .contacMe { 
        margin-top: 0%;
    }
    .boxContainer {
        justify-content: center;
    }
    .textContainer a {
        font-size: 16px;
    }
    .container {
        width: 70%;
        border-radius: 49px;
        justify-content: flex-start;
    }
    .container img {
        height: 40px;
        width: 40px;
        margin: 0px 20px 0px 15px;
    }
}